@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


main {
  padding: 0;
  width: 95vw;
  margin-left: 2vw;
}

@media screen and (min-width: 1000px) {
  main {
    padding: 40px;
    width: 80vw;
    margin-left: 7vw;
  }
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > li > a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 50%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
}
.pagination > li > a, .pagination > li > span{
  color: #000;
}